Lanes/src/test.cpp

Lanes/test_umbi/test_umbi\.cpp

Lanes/test_umbi/

Lanes/data/vid/1\.MP4

Lanes/data/vid/2\.MP4

Lanes/hugh_lsd/CMakeCache\.txt

Lanes/hugh_lsd/CMakeFiles/3\.5\.1/CMakeCCompiler\.cmake

Lanes/hugh_lsd/CMakeFiles/3\.5\.1/CMakeCXXCompiler\.cmake

Lanes/hugh_lsd/cmake_install\.cmake

Lanes/hugh_lsd/CMakeFiles/3\.5\.1/CMakeDetermineCompilerABI_C\.bin

Lanes/hugh_lsd/CMakeFiles/3\.5\.1/CMakeDetermineCompilerABI_CXX\.bin

Lanes/hugh_lsd/CMakeFiles/3\.5\.1/CMakeSystem\.cmake

Lanes/hugh_lsd/CMakeFiles/3\.5\.1/CompilerIdC/a\.out

Lanes/hugh_lsd/CMakeFiles/3\.5\.1/CompilerIdC/CMakeCCompilerId\.c

Lanes/hugh_lsd/CMakeFiles/3\.5\.1/CompilerIdCXX/a\.out

Lanes/hugh_lsd/CMakeFiles/3\.5\.1/CompilerIdCXX/CMakeCXXCompilerId\.cpp

Lanes/hugh_lsd/CMakeFiles/cmake\.check_cache

Lanes/hugh_lsd/CMakeFiles/CMakeDirectoryInformation\.cmake

Lanes/hugh_lsd/CMakeFiles/CMakeOutput\.log

Lanes/hugh_lsd/CMakeFiles/feature_tests\.bin

Lanes/hugh_lsd/CMakeFiles/feature_tests\.c

Lanes/hugh_lsd/CMakeFiles/feature_tests\.cxx

Lanes/hugh_lsd/CMakeFiles/main\.dir/build\.make

Lanes/hugh_lsd/CMakeFiles/main\.dir/cmake_clean\.cmake

Lanes/hugh_lsd/CMakeFiles/main\.dir/CXX\.includecache

Lanes/hugh_lsd/CMakeFiles/main\.dir/depend\.internal

Lanes/hugh_lsd/CMakeFiles/main\.dir/depend\.make

Lanes/hugh_lsd/CMakeFiles/main\.dir/DependInfo\.cmake

Lanes/hugh_lsd/CMakeFiles/main\.dir/flags\.make

Lanes/hugh_lsd/CMakeFiles/main\.dir/link\.txt

Lanes/hugh_lsd/CMakeFiles/main\.dir/main\.cpp\.o

Lanes/hugh_lsd/CMakeFiles/main\.dir/progress\.make

Lanes/hugh_lsd/CMakeFiles/Makefile\.cmake

Lanes/hugh_lsd/CMakeFiles/Makefile2

Lanes/hugh_lsd/CMakeFiles/progress\.marks

Lanes/hugh_lsd/CMakeFiles/TargetDirectories\.txt

Lanes/hugh_lsd/Makefile

Lanes/hugh_lsd/out\.avi

Lanes/test/cmake_install\.cmake

Lanes/test/CMakeCache\.txt

Lanes/test/CMakeFiles/3\.5\.1/CMakeCCompiler\.cmake

Lanes/test/CMakeFiles/3\.5\.1/CMakeCXXCompiler\.cmake

Lanes/test/CMakeFiles/3\.5\.1/CMakeDetermineCompilerABI_C\.bin

Lanes/test/CMakeFiles/3\.5\.1/CMakeDetermineCompilerABI_CXX\.bin

Lanes/test/CMakeFiles/3\.5\.1/CMakeSystem\.cmake

Lanes/test/CMakeFiles/3\.5\.1/CompilerIdC/a\.out

Lanes/test/CMakeFiles/3\.5\.1/CompilerIdC/CMakeCCompilerId\.c

Lanes/test/CMakeFiles/3\.5\.1/CompilerIdCXX/a\.out

Lanes/test/CMakeFiles/3\.5\.1/CompilerIdCXX/CMakeCXXCompilerId\.cpp

Lanes/test/CMakeFiles/cmake\.check_cache

Lanes/test/CMakeFiles/CMakeDirectoryInformation\.cmake

Lanes/test/CMakeFiles/CMakeOutput\.log

Lanes/test/CMakeFiles/feature_tests\.bin

Lanes/test/CMakeFiles/feature_tests\.c

Lanes/test/CMakeFiles/feature_tests\.cxx

Lanes/test/CMakeFiles/Makefile\.cmake

Lanes/test/CMakeFiles/Makefile2

Lanes/test/CMakeFiles/progress\.marks

Lanes/test/CMakeFiles/Progress/1

Lanes/test/CMakeFiles/Progress/count\.txt

Lanes/test/CMakeFiles/TargetDirectories\.txt

Lanes/test/CMakeFiles/test\.dir/build\.make

Lanes/test/CMakeFiles/test\.dir/cmake_clean\.cmake

Lanes/test/CMakeFiles/test\.dir/CXX\.includecache

Lanes/test/CMakeFiles/test\.dir/depend\.internal

Lanes/test/CMakeFiles/test\.dir/depend\.make

Lanes/test/CMakeFiles/test\.dir/DependInfo\.cmake

Lanes/test/CMakeFiles/test\.dir/flags\.make

Lanes/test/CMakeFiles/test\.dir/link\.txt

Lanes/test/CMakeFiles/test\.dir/progress\.make

Lanes/test/Makefile

Lanes/test/CMakeFiles/test\.dir/test\.cpp\.o

Lanes/test/out\.avi

Lanes/test/test

Lanes/data/vid/2_comp\.mp4

Lanes/src/test\.cpp

Lanes/build/CMakeFiles/

Lanes/build/cmake_install\.cmake

Lanes/build/CMakeCache\.txt

Lanes/build/curve_fitting

Lanes/build/hough_lsd

Lanes/build/Makefile

Lanes/build/out\.avi

Lanes/build/test

Lanes/data/vid/1_comp\.mp4

Lanes/data/vid/challenge\.mp4

Lanes/build/curve_fitting_poly

Lanes/build/poly_fit

Lanes/build/square_root_fit

Lanes/build/vertical_poly_fit

Lanes/src/test2\.cpp

Lanes/build/test2

Lanes/src/test3\.cpp

Lanes/build/test3

Lanes/src/test4\.cpp

Lanes/build/lanes_detection

Test/build/CMakeCache\.txt

Test/build/CMakeFiles/

Test/build/CMakeLists\.txt

Test/build/Makefile

Test/build/cmake_install\.cmake

Test/build/out\.avi

Test/build/test

Test/build/test2

Test/build/test3

Test/src/test\.cpp

Test/src/test2\.cpp

Test/src/test3\.cpp

data/vid/1\.MP4

data/vid/1_comp\.mp4

data/vid/2\.MP4

data/img/1\.png

Lanes/data/img/1\.png

data/img/2\.png

data/img/3\.png

data/img/4\.jpeg

data/img/5\.jpg

data/vid/challenge\.mp4

Lanes/data/img/3\.png

Raspberry/

data/vid/

Lanes/CMakeCache\.txt

Lanes/CMakeFiles/

Lanes/Makefile

Lanes/cmake_install\.cmake

Lanes_old/build/cmake_install\.cmake

Lanes_old/build/CMakeCache\.txt

Lanes_old/build/CMakeFiles/3\.5\.1/CMakeCCompiler\.cmake

Lanes_old/build/CMakeFiles/3\.5\.1/CMakeCXXCompiler\.cmake

Lanes_old/build/CMakeFiles/3\.5\.1/CMakeDetermineCompilerABI_C\.bin

Lanes_old/build/CMakeFiles/3\.5\.1/CMakeDetermineCompilerABI_CXX\.bin

Lanes_old/build/CMakeFiles/3\.5\.1/CMakeSystem\.cmake

Lanes_old/build/CMakeFiles/3\.5\.1/CompilerIdC/a\.out

Lanes_old/build/CMakeFiles/3\.5\.1/CompilerIdC/CMakeCCompilerId\.c

Lanes_old/build/CMakeFiles/3\.5\.1/CompilerIdCXX/a\.out

Lanes_old/build/CMakeFiles/3\.5\.1/CompilerIdCXX/CMakeCXXCompilerId\.cpp

Lanes_old/build/CMakeFiles/cmake\.check_cache

Lanes_old/build/CMakeFiles/CMakeDirectoryInformation\.cmake

Lanes_old/build/CMakeFiles/CMakeOutput\.log

Lanes_old/build/CMakeFiles/feature_tests\.bin

Lanes_old/build/CMakeFiles/feature_tests\.c

Lanes_old/build/CMakeFiles/feature_tests\.cxx

Lanes_old/build/CMakeFiles/hough_lsd\.dir/build\.make

Lanes_old/build/CMakeFiles/hough_lsd\.dir/cmake_clean\.cmake

Lanes_old/build/CMakeFiles/hough_lsd\.dir/CXX\.includecache

Lanes_old/build/CMakeFiles/hough_lsd\.dir/depend\.internal

Lanes_old/build/CMakeFiles/hough_lsd\.dir/depend\.make

Lanes_old/build/CMakeFiles/hough_lsd\.dir/DependInfo\.cmake

Lanes_old/build/CMakeFiles/hough_lsd\.dir/flags\.make

Lanes_old/build/CMakeFiles/hough_lsd\.dir/home/parallels/autonomous-mini-4wd/Lanes/src/hough_lsd\.o

Lanes_old/build/CMakeFiles/hough_lsd\.dir/link\.txt

Lanes_old/build/CMakeFiles/hough_lsd\.dir/progress\.make

Lanes_old/build/CMakeFiles/lanes_detection\.dir/build\.make

Lanes_old/build/CMakeFiles/lanes_detection\.dir/cmake_clean\.cmake

Lanes_old/build/CMakeFiles/lanes_detection\.dir/CXX\.includecache

Lanes_old/build/CMakeFiles/lanes_detection\.dir/depend\.internal

Lanes_old/build/CMakeFiles/lanes_detection\.dir/depend\.make

Lanes_old/build/CMakeFiles/lanes_detection\.dir/DependInfo\.cmake

Lanes_old/build/CMakeFiles/lanes_detection\.dir/flags\.make

Lanes_old/build/CMakeFiles/lanes_detection\.dir/home/parallels/autonomous-mini-4wd/Lanes/src/lanes_detection\.o

Lanes_old/build/CMakeFiles/lanes_detection\.dir/link\.txt

Lanes_old/build/CMakeFiles/lanes_detection\.dir/progress\.make

Lanes_old/build/CMakeFiles/Makefile\.cmake

Lanes_old/build/CMakeFiles/Makefile2

Lanes_old/build/CMakeFiles/poly_fit\.dir/build\.make

Lanes_old/build/CMakeFiles/poly_fit\.dir/cmake_clean\.cmake

Lanes_old/build/CMakeFiles/poly_fit\.dir/CXX\.includecache

Lanes_old/build/CMakeFiles/poly_fit\.dir/depend\.internal

Lanes_old/build/CMakeFiles/poly_fit\.dir/depend\.make

Lanes_old/build/CMakeFiles/poly_fit\.dir/DependInfo\.cmake

Lanes_old/build/CMakeFiles/poly_fit\.dir/flags\.make

Lanes_old/build/CMakeFiles/poly_fit\.dir/link\.txt

Lanes_old/build/CMakeFiles/poly_fit\.dir/progress\.make

Lanes_old/build/CMakeFiles/progress\.marks

Lanes_old/build/CMakeFiles/square_root_fit\.dir/build\.make

Lanes_old/build/CMakeFiles/square_root_fit\.dir/cmake_clean\.cmake

Lanes_old/build/CMakeFiles/square_root_fit\.dir/CXX\.includecache

Lanes_old/build/CMakeFiles/square_root_fit\.dir/depend\.internal

Lanes_old/build/CMakeFiles/square_root_fit\.dir/depend\.make

Lanes_old/build/CMakeFiles/square_root_fit\.dir/DependInfo\.cmake

Lanes_old/build/CMakeFiles/square_root_fit\.dir/flags\.make

Lanes_old/build/CMakeFiles/square_root_fit\.dir/home/parallels/autonomous-mini-4wd/Lanes/src/square_root_fit\.o

Lanes_old/build/CMakeFiles/square_root_fit\.dir/link\.txt

Lanes_old/build/CMakeFiles/square_root_fit\.dir/progress\.make

Lanes_old/build/CMakeFiles/TargetDirectories\.txt

Lanes_old/build/CMakeFiles/vertical_poly_fit\.dir/build\.make

Lanes_old/build/CMakeFiles/vertical_poly_fit\.dir/cmake_clean\.cmake

Lanes_old/build/CMakeFiles/vertical_poly_fit\.dir/CXX\.includecache

Lanes_old/build/CMakeFiles/vertical_poly_fit\.dir/depend\.internal

Lanes_old/build/CMakeFiles/vertical_poly_fit\.dir/depend\.make

Lanes_old/build/CMakeFiles/vertical_poly_fit\.dir/DependInfo\.cmake

Lanes_old/build/CMakeFiles/vertical_poly_fit\.dir/flags\.make

Lanes_old/build/CMakeFiles/vertical_poly_fit\.dir/home/parallels/autonomous-mini-4wd/Lanes/src/vertical_poly_fit\.o

Lanes_old/build/CMakeFiles/vertical_poly_fit\.dir/link\.txt

Lanes_old/build/CMakeFiles/vertical_poly_fit\.dir/progress\.make

Lanes_old/build/CMakeLists\.txt

Lanes_old/build/hough_lsd

Lanes_old/build/lanes_detection

Lanes_old/build/Makefile

Lanes_old/build/out\.avi

Lanes_old/build/poly_fit

Lanes_old/build/square_root_fit

Lanes_old/build/vertical_poly_fit

Lanes_old/src/hough_lsd\.cpp

Lanes_old/src/lanes_detection\.cpp

Lanes_old/src/square_root_fit\.cpp

Lanes_old/src/vertical_poly_fit\.cpp

Lanes/launch_lanes_detection

Test2/build/cmake_install\.cmake

Test2/build/CMakeCache\.txt

Test2/build/CMakeFiles/3\.5\.1/CMakeCCompiler\.cmake

Test2/build/CMakeFiles/3\.5\.1/CMakeCXXCompiler\.cmake

Test2/build/CMakeFiles/3\.5\.1/CMakeDetermineCompilerABI_C\.bin

Test2/build/CMakeFiles/3\.5\.1/CMakeDetermineCompilerABI_CXX\.bin

Test2/build/CMakeFiles/3\.5\.1/CMakeSystem\.cmake

Test2/build/CMakeFiles/3\.5\.1/CompilerIdC/a\.out

Test2/build/CMakeFiles/3\.5\.1/CompilerIdC/CMakeCCompilerId\.c

Test2/build/CMakeFiles/3\.5\.1/CompilerIdCXX/a\.out

Test2/build/CMakeFiles/3\.5\.1/CompilerIdCXX/CMakeCXXCompilerId\.cpp

Test2/build/CMakeFiles/cmake\.check_cache

Test2/build/CMakeFiles/CMakeDirectoryInformation\.cmake

Test2/build/CMakeFiles/CMakeOutput\.log

Test2/build/CMakeFiles/feature_tests\.bin

Test2/build/CMakeFiles/feature_tests\.c

Test2/build/CMakeFiles/feature_tests\.cxx

Test2/build/CMakeFiles/Makefile\.cmake

Test2/build/CMakeFiles/Makefile2

Test2/build/CMakeFiles/progress\.marks

Test2/build/CMakeFiles/TargetDirectories\.txt

Test2/build/CMakeFiles/test\.dir/build\.make

Test2/build/CMakeFiles/test\.dir/cmake_clean\.cmake

Test2/build/CMakeFiles/test\.dir/CXX\.includecache

Test2/build/CMakeFiles/test\.dir/depend\.internal

Test2/build/CMakeFiles/test\.dir/depend\.make

Test2/build/CMakeFiles/test\.dir/DependInfo\.cmake

Test2/build/CMakeFiles/test\.dir/flags\.make

Test2/build/CMakeFiles/test\.dir/home/parallels/autonomous-mini-4wd/Test2/src/test\.o

Test2/build/CMakeFiles/test\.dir/link\.txt

Test2/build/CMakeFiles/test\.dir/progress\.make

Test2/build/CMakeFiles/test2\.dir/build\.make

Test2/build/CMakeFiles/test2\.dir/cmake_clean\.cmake

Test2/build/CMakeFiles/test2\.dir/CXX\.includecache

Test2/build/CMakeFiles/test2\.dir/depend\.internal

Test2/build/CMakeFiles/test2\.dir/depend\.make

Test2/build/CMakeFiles/test2\.dir/DependInfo\.cmake

Test2/build/CMakeFiles/test2\.dir/flags\.make

Test2/build/CMakeFiles/test2\.dir/home/parallels/autonomous-mini-4wd/Test2/src/test2\.o

Test2/build/CMakeFiles/test2\.dir/link\.txt

Test2/build/CMakeFiles/test2\.dir/progress\.make

Test2/build/CMakeFiles/test3\.dir/build\.make

Test2/build/CMakeFiles/test3\.dir/cmake_clean\.cmake

Test2/build/CMakeFiles/test3\.dir/CXX\.includecache

Test2/build/CMakeFiles/test3\.dir/depend\.internal

Test2/build/CMakeFiles/test3\.dir/depend\.make

Test2/build/CMakeFiles/test3\.dir/DependInfo\.cmake

Test2/build/CMakeFiles/test3\.dir/flags\.make

Test2/build/CMakeFiles/test3\.dir/home/parallels/autonomous-mini-4wd/Test2/src/test3\.o

Test2/build/CMakeFiles/test3\.dir/link\.txt

Test2/build/CMakeFiles/test3\.dir/progress\.make

Test2/build/CMakeFiles/testh\.dir/build\.make

Test2/build/CMakeFiles/testh\.dir/cmake_clean\.cmake

Test2/build/CMakeFiles/testh\.dir/depend\.make

Test2/build/CMakeFiles/testh\.dir/DependInfo\.cmake

Test2/build/CMakeFiles/testh\.dir/flags\.make

Test2/build/CMakeFiles/testh\.dir/progress\.make

Test2/build/CMakeLists\.txt

Test2/build/Makefile

Test2/build/test2

Test2/build/test3

Test2/src/test\.cpp

Test2/src/test\.h

Test2/src/test2\.cpp

Test2/src/test3\.cpp

test_umbi/

Cameracalib/calib_images\.xml

Cameracalib/calib_vid\.xml

Cameracalib/camera_calibration

Cameracalib/camera_calibration\.cpp

Cameracalib/cmake_install\.cmake

Cameracalib/CMakeCache\.txt

Cameracalib/CMakeFiles/3\.5\.1/CMakeCCompiler\.cmake

Cameracalib/CMakeFiles/3\.5\.1/CMakeCXXCompiler\.cmake

Cameracalib/CMakeFiles/3\.5\.1/CMakeDetermineCompilerABI_C\.bin

Cameracalib/CMakeFiles/3\.5\.1/CMakeDetermineCompilerABI_CXX\.bin

Cameracalib/CMakeFiles/3\.5\.1/CMakeSystem\.cmake

Cameracalib/CMakeFiles/3\.5\.1/CompilerIdC/a\.out

Cameracalib/CMakeFiles/3\.5\.1/CompilerIdC/CMakeCCompilerId\.c

Cameracalib/CMakeFiles/3\.5\.1/CompilerIdCXX/a\.out

Cameracalib/CMakeFiles/3\.5\.1/CompilerIdCXX/CMakeCXXCompilerId\.cpp

Cameracalib/CMakeFiles/camera_calibration\.dir/build\.make

Cameracalib/CMakeFiles/camera_calibration\.dir/camera_calibration\.o

Cameracalib/CMakeFiles/camera_calibration\.dir/cmake_clean\.cmake

Cameracalib/CMakeFiles/camera_calibration\.dir/CXX\.includecache

Cameracalib/CMakeFiles/camera_calibration\.dir/depend\.internal

Cameracalib/CMakeFiles/camera_calibration\.dir/depend\.make

Cameracalib/CMakeFiles/camera_calibration\.dir/DependInfo\.cmake

Cameracalib/CMakeFiles/camera_calibration\.dir/flags\.make

Cameracalib/CMakeFiles/camera_calibration\.dir/link\.txt

Cameracalib/CMakeFiles/camera_calibration\.dir/progress\.make

Cameracalib/CMakeFiles/cmake\.check_cache

Cameracalib/CMakeFiles/CMakeDirectoryInformation\.cmake

Cameracalib/CMakeFiles/CMakeOutput\.log

Cameracalib/CMakeFiles/feature_tests\.bin

Cameracalib/CMakeFiles/feature_tests\.c

Cameracalib/CMakeFiles/feature_tests\.cxx

Cameracalib/CMakeFiles/Makefile\.cmake

Cameracalib/CMakeFiles/Makefile2

Cameracalib/CMakeFiles/progress\.marks

Cameracalib/CMakeFiles/TargetDirectories\.txt

Cameracalib/CMakeFiles/test\.dir/build\.make

Cameracalib/CMakeFiles/test\.dir/cmake_clean\.cmake

Cameracalib/CMakeFiles/test\.dir/CXX\.includecache

Cameracalib/CMakeFiles/test\.dir/depend\.internal

Cameracalib/CMakeFiles/test\.dir/depend\.make

Cameracalib/CMakeFiles/test\.dir/DependInfo\.cmake

Cameracalib/CMakeFiles/test\.dir/flags\.make

Cameracalib/CMakeFiles/test\.dir/link\.txt

Cameracalib/CMakeFiles/test\.dir/progress\.make

Cameracalib/CMakeFiles/test\.dir/test\.o

Cameracalib/CMakeLists\.txt

Cameracalib/data/img/calib/1\.JPG

Cameracalib/data/img/calib/1/1\.png

Cameracalib/data/img/calib/1/2\.png

Cameracalib/data/img/calib/1/3\.png

Cameracalib/data/img/calib/1/4\.png

Cameracalib/data/img/calib/1/5\.png

Cameracalib/data/img/calib/1/6\.png

Cameracalib/data/img/calib/1/7\.png

Cameracalib/data/img/calib/1/8\.png

Cameracalib/data/img/calib/2\.JPG

Cameracalib/data/img/calib/2/1\.png

Cameracalib/data/img/calib/2/10\.png

Cameracalib/data/img/calib/2/11\.png

Cameracalib/data/img/calib/2/12\.png

Cameracalib/data/img/calib/2/13\.png

Cameracalib/data/img/calib/2/14\.png

Cameracalib/data/img/calib/2/15\.png

Cameracalib/data/img/calib/2/16\.png

Cameracalib/data/img/calib/2/17\.png

Cameracalib/data/img/calib/2/18\.png

Cameracalib/data/img/calib/2/19\.png

Cameracalib/data/img/calib/2/2\.png

Cameracalib/data/img/calib/2/20\.png

Cameracalib/data/img/calib/2/21\.png

Cameracalib/data/img/calib/2/22\.png

Cameracalib/data/img/calib/2/23\.png

Cameracalib/data/img/calib/2/24\.png

Cameracalib/data/img/calib/2/25\.png

Cameracalib/data/img/calib/2/26\.png

Cameracalib/data/img/calib/2/27\.png

Cameracalib/data/img/calib/2/28\.png

Cameracalib/data/img/calib/2/29\.png

Cameracalib/data/img/calib/2/3\.png

Cameracalib/data/img/calib/2/30\.png

Cameracalib/data/img/calib/2/31\.png

Cameracalib/data/img/calib/2/32\.png

Cameracalib/data/img/calib/2/33\.png

Cameracalib/data/img/calib/2/34\.png

Cameracalib/data/img/calib/2/35\.png

Cameracalib/data/img/calib/2/36\.png

Cameracalib/data/img/calib/2/37\.png

Cameracalib/data/img/calib/2/4\.png

Cameracalib/data/img/calib/2/5\.png

Cameracalib/data/img/calib/2/6\.png

Cameracalib/data/img/calib/2/7\.png

Cameracalib/data/img/calib/2/8\.png

Cameracalib/data/img/calib/2/9\.png

Cameracalib/data/img/calib/3\.JPG

Cameracalib/data/img/calib/4/\.DS_Store

Cameracalib/data/img/calib/4/1\.png

Cameracalib/data/img/calib/4/10\.png

Cameracalib/data/img/calib/4/11\.png

Cameracalib/data/img/calib/4/12\.png

Cameracalib/data/img/calib/4/13\.png

Cameracalib/data/img/calib/4/14\.png

Cameracalib/data/img/calib/4/15\.png

Cameracalib/data/img/calib/4/16\.png

Cameracalib/data/img/calib/4/17\.png

Cameracalib/data/img/calib/4/18\.png

Cameracalib/data/img/calib/4/19\.png

Cameracalib/data/img/calib/4/2\.png

Cameracalib/data/img/calib/4/20\.png

Cameracalib/data/img/calib/4/21\.png

Cameracalib/data/img/calib/4/22\.png

Cameracalib/data/img/calib/4/23\.png

Cameracalib/data/img/calib/4/24\.png

Cameracalib/data/img/calib/4/25\.png

Cameracalib/data/img/calib/4/26\.png

Cameracalib/data/img/calib/4/27\.png

Cameracalib/data/img/calib/4/28\.png

Cameracalib/data/img/calib/4/29\.png

Cameracalib/data/img/calib/4/3\.png

Cameracalib/data/img/calib/4/30\.png

Cameracalib/data/img/calib/4/31\.png

Cameracalib/data/img/calib/4/32\.png

Cameracalib/data/img/calib/4/33\.png

Cameracalib/data/img/calib/4/34\.png

Cameracalib/data/img/calib/4/4\.png

Cameracalib/data/img/calib/4/5\.png

Cameracalib/data/img/calib/4/6\.png

Cameracalib/data/img/calib/4/7\.png

Cameracalib/data/img/calib/4/8\.png

Cameracalib/data/img/calib/4/9\.png

Cameracalib/data/img/screen\.png

Cameracalib/data/pattern\.png

Cameracalib/data/test\.png

Cameracalib/data/vid/1\.mp4

Cameracalib/data/vid/2\.mp4

Cameracalib/data/vid/3\.mp4

Cameracalib/data/vid/4\.mp4

Cameracalib/data/vid/calib_2\.mp4

Cameracalib/default\.xml

Cameracalib/Makefile

Cameracalib/out_camera_data\.xml

Cameracalib/test

Cameracalib/test\.cpp

test/cmake_install\.cmake

test/CMakeCache\.txt

test/CMakeFiles/3\.5\.1/CMakeCCompiler\.cmake

test/CMakeFiles/3\.5\.1/CMakeCXXCompiler\.cmake

test/CMakeFiles/3\.5\.1/CMakeDetermineCompilerABI_C\.bin

test/CMakeFiles/3\.5\.1/CMakeDetermineCompilerABI_CXX\.bin

test/CMakeFiles/3\.5\.1/CMakeSystem\.cmake

test/CMakeFiles/3\.5\.1/CompilerIdC/a\.out

test/CMakeFiles/3\.5\.1/CompilerIdC/CMakeCCompilerId\.c

test/CMakeFiles/3\.5\.1/CompilerIdCXX/a\.out

test/CMakeFiles/3\.5\.1/CompilerIdCXX/CMakeCXXCompilerId\.cpp

test/CMakeFiles/cmake\.check_cache

test/CMakeFiles/CMakeDirectoryInformation\.cmake

test/CMakeFiles/CMakeOutput\.log

test/CMakeFiles/feature_tests\.bin

test/CMakeFiles/feature_tests\.c

test/CMakeFiles/feature_tests\.cxx

test/CMakeFiles/launch_lanes_detection\.dir/build\.make

test/CMakeFiles/launch_lanes_detection\.dir/cmake_clean\.cmake

test/CMakeFiles/launch_lanes_detection\.dir/CXX\.includecache

test/CMakeFiles/launch_lanes_detection\.dir/depend\.internal

test/CMakeFiles/launch_lanes_detection\.dir/depend\.make

test/CMakeFiles/launch_lanes_detection\.dir/DependInfo\.cmake

test/CMakeFiles/launch_lanes_detection\.dir/flags\.make

test/CMakeFiles/launch_lanes_detection\.dir/link\.txt

test/CMakeFiles/launch_lanes_detection\.dir/progress\.make

test/CMakeFiles/launch_lanes_detection\.dir/src/LanesDetection\.o

test/CMakeFiles/launch_lanes_detection\.dir/src/launch_lanes_detection\.o

test/CMakeFiles/Makefile\.cmake

test/CMakeFiles/Makefile2

test/CMakeFiles/progress\.marks

test/CMakeFiles/TargetDirectories\.txt

test/CMakeLists\.txt

test/lanes_detection\.cpp

test/lanes_detection\.h

test/launch_lanes_detection

test/Makefile

test/src/LanesDetection\.cpp

test/src/LanesDetection\.h

test/src/launch_lanes_detection\.cpp

test/launch_lanes_detection\.cpp

cameracalib/data/1\.mp4

cameracalib/data/2\.mp4

cameracalib/data/3\.mp4

cameracalib/data/4\.mp4

cameracalib/data/calib/1\.JPG

cameracalib/data/calib/1/1\.png

cameracalib/data/calib/1/2\.png

cameracalib/data/calib/1/3\.png

cameracalib/data/calib/1/4\.png

cameracalib/data/calib/1/5\.png

cameracalib/data/calib/1/6\.png

cameracalib/data/calib/1/7\.png

cameracalib/data/calib/1/8\.png

cameracalib/data/calib/2\.JPG

cameracalib/data/calib/2/1\.png

cameracalib/data/calib/2/10\.png

cameracalib/data/calib/2/11\.png

cameracalib/data/calib/2/12\.png

cameracalib/data/calib/2/13\.png

cameracalib/data/calib/2/14\.png

cameracalib/data/calib/2/15\.png

cameracalib/data/calib/2/16\.png

cameracalib/data/calib/2/17\.png

cameracalib/data/calib/2/18\.png

cameracalib/data/calib/2/19\.png

cameracalib/data/calib/2/2\.png

cameracalib/data/calib/2/20\.png

cameracalib/data/calib/2/21\.png

cameracalib/data/calib/2/22\.png

cameracalib/data/calib/2/23\.png

cameracalib/data/calib/2/24\.png

cameracalib/data/calib/2/25\.png

cameracalib/data/calib/2/26\.png

cameracalib/data/calib/2/27\.png

cameracalib/data/calib/2/28\.png

cameracalib/data/calib/2/29\.png

cameracalib/data/calib/2/3\.png

cameracalib/data/calib/2/30\.png

cameracalib/data/calib/2/31\.png

cameracalib/data/calib/2/32\.png

cameracalib/data/calib/2/33\.png

cameracalib/data/calib/2/34\.png

cameracalib/data/calib/2/35\.png

cameracalib/data/calib/2/36\.png

cameracalib/data/calib/2/37\.png

cameracalib/data/calib/2/4\.png

cameracalib/data/calib/2/5\.png

cameracalib/data/calib/2/6\.png

cameracalib/data/calib/2/7\.png

cameracalib/data/calib/2/8\.png

cameracalib/data/calib/2/9\.png

cameracalib/data/calib/3\.JPG

cameracalib/data/calib/4/\.DS_Store

cameracalib/data/calib/4/1\.png

cameracalib/data/calib/4/10\.png

cameracalib/data/calib/4/11\.png

cameracalib/data/calib/4/12\.png

cameracalib/data/calib/4/13\.png

cameracalib/data/calib/4/14\.png

cameracalib/data/calib/4/15\.png

cameracalib/data/calib/4/16\.png

cameracalib/data/calib/4/17\.png

cameracalib/data/calib/4/18\.png

cameracalib/data/calib/4/19\.png

cameracalib/data/calib/4/2\.png

cameracalib/data/calib/4/20\.png

cameracalib/data/calib/4/21\.png

cameracalib/data/calib/4/22\.png

cameracalib/data/calib/4/23\.png

cameracalib/data/calib/4/24\.png

cameracalib/data/calib/4/25\.png

cameracalib/data/calib/4/26\.png

cameracalib/data/calib/4/27\.png

cameracalib/data/calib/4/28\.png

cameracalib/data/calib/4/29\.png

cameracalib/data/calib/4/3\.png

cameracalib/data/calib/4/30\.png

cameracalib/data/calib/4/31\.png

cameracalib/data/calib/4/32\.png

cameracalib/data/calib/4/33\.png

cameracalib/data/calib/4/34\.png

cameracalib/data/calib/4/4\.png

cameracalib/data/calib/4/5\.png

cameracalib/data/calib/4/6\.png

cameracalib/data/calib/4/7\.png

cameracalib/data/calib/4/8\.png

cameracalib/data/calib/4/9\.png

cameracalib/data/calib/calib_2\.mp4

cameracalib/data/screen\.png

cameracalib/CMakeFiles/run_transform\.dir/build\.make

cameracalib/CMakeFiles/run_transform\.dir/cmake_clean\.cmake

cameracalib/CMakeFiles/run_transform\.dir/CXX\.includecache

cameracalib/CMakeFiles/run_transform\.dir/depend\.internal

cameracalib/CMakeFiles/run_transform\.dir/depend\.make

cameracalib/CMakeFiles/run_transform\.dir/DependInfo\.cmake

cameracalib/CMakeFiles/run_transform\.dir/flags\.make

cameracalib/CMakeFiles/run_transform\.dir/link\.txt

cameracalib/CMakeFiles/run_transform\.dir/progress\.make

cameracalib/CMakeFiles/run_transform\.dir/run_transform\.o

cameracalib/list\.xml

cameracalib/run_transform

cameracalib/run_transform\.cpp

test/CMakeFiles/Progress/1

test/CMakeFiles/Progress/count\.txt

cameracalib_prova/camera_calibration

cameracalib_prova/camera_calibration\.cpp

cameracalib_prova/cmake_install\.cmake

cameracalib_prova/CMakeCache\.txt

cameracalib_prova/CMakeFiles/3\.5\.1/CMakeCCompiler\.cmake

cameracalib_prova/CMakeFiles/3\.5\.1/CMakeCXXCompiler\.cmake

cameracalib_prova/CMakeFiles/3\.5\.1/CMakeDetermineCompilerABI_C\.bin

cameracalib_prova/CMakeFiles/3\.5\.1/CMakeDetermineCompilerABI_CXX\.bin

cameracalib_prova/CMakeFiles/3\.5\.1/CMakeSystem\.cmake

cameracalib_prova/CMakeFiles/3\.5\.1/CompilerIdC/a\.out

cameracalib_prova/CMakeFiles/3\.5\.1/CompilerIdC/CMakeCCompilerId\.c

cameracalib_prova/CMakeFiles/3\.5\.1/CompilerIdCXX/a\.out

cameracalib_prova/CMakeFiles/3\.5\.1/CompilerIdCXX/CMakeCXXCompilerId\.cpp

cameracalib_prova/CMakeFiles/camera_calibration\.dir/build\.make

cameracalib_prova/CMakeFiles/camera_calibration\.dir/camera_calibration\.o

cameracalib_prova/CMakeFiles/camera_calibration\.dir/cmake_clean\.cmake

cameracalib_prova/CMakeFiles/camera_calibration\.dir/CXX\.includecache

cameracalib_prova/CMakeFiles/camera_calibration\.dir/depend\.internal

cameracalib_prova/CMakeFiles/camera_calibration\.dir/depend\.make

cameracalib_prova/CMakeFiles/camera_calibration\.dir/DependInfo\.cmake

cameracalib_prova/CMakeFiles/camera_calibration\.dir/flags\.make

cameracalib_prova/CMakeFiles/camera_calibration\.dir/link\.txt

cameracalib_prova/CMakeFiles/camera_calibration\.dir/progress\.make

cameracalib_prova/CMakeFiles/cmake\.check_cache

cameracalib_prova/CMakeFiles/CMakeDirectoryInformation\.cmake

cameracalib_prova/CMakeFiles/CMakeOutput\.log

cameracalib_prova/CMakeFiles/feature_tests\.bin

cameracalib_prova/CMakeFiles/feature_tests\.c

cameracalib_prova/CMakeFiles/feature_tests\.cxx

cameracalib_prova/CMakeFiles/Makefile\.cmake

cameracalib_prova/CMakeFiles/Makefile2

cameracalib_prova/CMakeFiles/progress\.marks

cameracalib_prova/CMakeFiles/run_transform\.dir/build\.make

cameracalib_prova/CMakeFiles/run_transform\.dir/cmake_clean\.cmake

cameracalib_prova/CMakeFiles/run_transform\.dir/CXX\.includecache

cameracalib_prova/CMakeFiles/run_transform\.dir/depend\.internal

cameracalib_prova/CMakeFiles/run_transform\.dir/depend\.make

cameracalib_prova/CMakeFiles/run_transform\.dir/DependInfo\.cmake

cameracalib_prova/CMakeFiles/run_transform\.dir/flags\.make

cameracalib_prova/CMakeFiles/run_transform\.dir/link\.txt

cameracalib_prova/CMakeFiles/run_transform\.dir/progress\.make

cameracalib_prova/CMakeFiles/run_transform\.dir/run_transform\.o

cameracalib_prova/CMakeFiles/TargetDirectories\.txt

cameracalib_prova/CMakeLists\.txt

cameracalib_prova/data/1\.mp4

cameracalib_prova/data/2\.mp4

cameracalib_prova/data/3\.mp4

cameracalib_prova/data/4\.mp4

cameracalib_prova/data/calib/1\.JPG

cameracalib_prova/data/calib/1/1\.png

cameracalib_prova/data/calib/1/2\.png

cameracalib_prova/data/calib/1/3\.png

cameracalib_prova/data/calib/1/4\.png

cameracalib_prova/data/calib/1/5\.png

cameracalib_prova/data/calib/1/6\.png

cameracalib_prova/data/calib/1/7\.png

cameracalib_prova/data/calib/1/8\.png

cameracalib_prova/data/calib/2\.JPG

cameracalib_prova/data/calib/2/1\.png

cameracalib_prova/data/calib/2/10\.png

cameracalib_prova/data/calib/2/11\.png

cameracalib_prova/data/calib/2/12\.png

cameracalib_prova/data/calib/2/13\.png

cameracalib_prova/data/calib/2/14\.png

cameracalib_prova/data/calib/2/15\.png

cameracalib_prova/data/calib/2/16\.png

cameracalib_prova/data/calib/2/17\.png

cameracalib_prova/data/calib/2/18\.png

cameracalib_prova/data/calib/2/19\.png

cameracalib_prova/data/calib/2/2\.png

cameracalib_prova/data/calib/2/20\.png

cameracalib_prova/data/calib/2/21\.png

cameracalib_prova/data/calib/2/22\.png

cameracalib_prova/data/calib/2/23\.png

cameracalib_prova/data/calib/2/24\.png

cameracalib_prova/data/calib/2/25\.png

cameracalib_prova/data/calib/2/26\.png

cameracalib_prova/data/calib/2/27\.png

cameracalib_prova/data/calib/2/28\.png

cameracalib_prova/data/calib/2/29\.png

cameracalib_prova/data/calib/2/3\.png

cameracalib_prova/data/calib/2/30\.png

cameracalib_prova/data/calib/2/31\.png

cameracalib_prova/data/calib/2/32\.png

cameracalib_prova/data/calib/2/33\.png

cameracalib_prova/data/calib/2/34\.png

cameracalib_prova/data/calib/2/35\.png

cameracalib_prova/data/calib/2/36\.png

cameracalib_prova/data/calib/2/37\.png

cameracalib_prova/data/calib/2/4\.png

cameracalib_prova/data/calib/2/5\.png

cameracalib_prova/data/calib/2/6\.png

cameracalib_prova/data/calib/2/7\.png

cameracalib_prova/data/calib/2/8\.png

cameracalib_prova/data/calib/2/9\.png

cameracalib_prova/data/calib/3\.JPG

cameracalib_prova/data/calib/4/\.DS_Store

cameracalib_prova/data/calib/4/1\.png

cameracalib_prova/data/calib/4/10\.png

cameracalib_prova/data/calib/4/11\.png

cameracalib_prova/data/calib/4/12\.png

cameracalib_prova/data/calib/4/13\.png

cameracalib_prova/data/calib/4/14\.png

cameracalib_prova/data/calib/4/15\.png

cameracalib_prova/data/calib/4/16\.png

cameracalib_prova/data/calib/4/17\.png

cameracalib_prova/data/calib/4/18\.png

cameracalib_prova/data/calib/4/19\.png

cameracalib_prova/data/calib/4/2\.png

cameracalib_prova/data/calib/4/20\.png

cameracalib_prova/data/calib/4/21\.png

cameracalib_prova/data/calib/4/22\.png

cameracalib_prova/data/calib/4/23\.png

cameracalib_prova/data/calib/4/24\.png

cameracalib_prova/data/calib/4/25\.png

cameracalib_prova/data/calib/4/26\.png

cameracalib_prova/data/calib/4/27\.png

cameracalib_prova/data/calib/4/28\.png

cameracalib_prova/data/calib/4/29\.png

cameracalib_prova/data/calib/4/3\.png

cameracalib_prova/data/calib/4/30\.png

cameracalib_prova/data/calib/4/31\.png

cameracalib_prova/data/calib/4/32\.png

cameracalib_prova/data/calib/4/33\.png

cameracalib_prova/data/calib/4/34\.png

cameracalib_prova/data/calib/4/4\.png

cameracalib_prova/data/calib/4/5\.png

cameracalib_prova/data/calib/4/6\.png

cameracalib_prova/data/calib/4/7\.png

cameracalib_prova/data/calib/4/8\.png

cameracalib_prova/data/calib/4/9\.png

cameracalib_prova/data/calib/calib_2\.mp4

cameracalib_prova/data/screen\.png

cameracalib_prova/default\.xml

cameracalib_prova/list\.xml

cameracalib_prova/Makefile

cameracalib_prova/out_camera_data\.xml

cameracalib_prova/run_transform

cameracalib_prova/run_transform\.cpp
